/**
 * Resizable block editor sidebar.
 */
.interface-interface-skeleton__sidebar .interface-complementary-area,
.interface-interface-skeleton__sidebar .interface-complementary-area__fill {
    width: 100% !important;
}

.interface-interface-skeleton__sidebar {
    padding-left: 15px !important;
}

.interface-interface-skeleton__sidebar.ui-resizable-resizing {
    position: relative !important;
}

.ui-resizable-handle.ui-resizable-w {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 15px !important;
    cursor: ew-resize !important;
    background-color: #f1f1f1 !important;
    transition: background-color 0.3s ease;
}

.betterblocks-resize-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 30px;
    background-color: #1e1e1e;
    border-radius: 2px;
}

/**
 * Custom favicon spacing in the editor header.
 */
.edit-post-fullscreen-mode-close-site-icon__image {
    padding: 10px;
}

/**
 * Extended ACF block editor modal.
 */
.acf-block-form-modal.is-full-screen {
    max-width: 1200px;
    width: 90% !important;
    height: calc(100% - 100px) !important;
    inset: 0;
}
